

@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.page-with-image {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 120px;
  margin-bottom: 100px;
}

.background-blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../assets/seamstress.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(5px);
  z-index: -1; /* Ensures the background stays behind the content */
}

.page-with-image h2 {
  color: #2063d5;
  font-size: 2rem;
  font-family: 'Lexend', sans-serif;
}
.page-with-image h1 {
  color: white;
  font-size: 2.5rem;
  font-family: 'Lexend', sans-serif;
}
.page-with-image p {
  font-family: 'Montseratt', sans-serif;
}

.ahoma {
  color: #2063d5;
}
.Started-button-2{
    padding: 0 45px;
  border-radius: 10px;
  height: 40px;
  background-color: #4988f3;
  color: white;
  border: none;
  font-weight: bolder;
  margin-top: 15px;
}
.home-page-2-contents{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 70px;
}
.home-page-2{
background: #4988f3;
}
.page-2-left img{
    height: auto;
    width: 550px;
    border-radius: 15px;
}
.page-2-right h1 {
font-size: 2rem;
color: white;
margin-bottom: 15px;
font-family: 'Lexend', sans-serif;
}
.page-2-right p {
color: white;
font-family: 'Montseratt', sans-serif;
font-size: medium;

}
.read-more-button{
     padding: 0 25px;
  border-radius: 9999px;
  height: 40px;
  background-color:#FFFFFF ;
  color: #5a7cb6;
  border: none;
  margin-top: 15px;
  
  
}

.home-page-3-contents{
    display: flex;
    align-items: center;
justify-content: center;
    gap: 50px;
    width: 100%;
      margin-top: 80px;
  
}
.page-3-right{
   width: 50%;

}
.page-3-left{
   width: 50%;
   margin-left: 80px;
   
}
.page-3-left h1 {
font-size: 2rem;
color: #36454F;
margin-bottom: 15px;
font-family: 'Lexend', sans-serif;
}
.page-3-left p {
color: #36454F;
font-family: 'Montseratt', sans-serif;
font-size: medium;

}
.last-p{
  margin-top: 20px;
}

.page-3-right img{
    height: auto;
    width: 300px;
}
.page-3-right .image-1{
  position: absolute;
  transform: rotate(-10deg);
  
}
.page-3-right .image-2{
  position: relative;
  left: 120px;
  bottom: 10px;
  transform: rotate(20deg);

}
.home-page-4{
  margin-top: 30px;
 background-color: #f1f5f9;
}

.heading-4{
  text-align: center;
  margin-bottom: 90px;
 
}
.heading-4 h1,.heading-4 h2{
    font-size: 2.0em;
  font-family: 'Lexend', sans-serif;
color: #535558;
}

.first-3-cards{
  display: flex;
  gap: 30px;
}

.last-3-cards{
  display: flex;
  gap: 30px;
}
.all-cards{
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
}